*
{
    background-color:papayawhip;
    box-sizing: border-box;
}
.main{
    display: flex;
    
    
    flex-direction: column;
    font-size: 1.2rem;

}
h1,button{
    
    background-color: skyblue;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 1rem;
    
   
}
.images
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100vw;
    margin-bottom: 2vh;
    /*border: 2px solid black;*/
    
}
.image{
    width:20%;
    height:200px;
    border: 2px solid black;
    border-radius: 0.2em;
    margin-right: 10px;
    background-color: lightslategray;
    text-align: center;
    color: aliceblue;
    
}
output
{

width: 100vw;
/*background-color: rgba(92, 221, 204, 0.637);*/
}
button,.disp,hr
{
    margin: 2% 20%;
    
}
@media screen and (max-width:425px) {
    span
    {
       display: block; 
       margin: 2% 20%;
    }
    .images
    {
        flex-direction: column;
        align-items: center;
       
    }
    .image
    {
        width: 40%;
        height: 100px;
    }

    
}