*
{
    background-color:papayawhip;
    box-sizing: border-box;
}
.main{
    display: flex;
    
    
    flex-direction: column;
    font-size: 1.2rem;

}
h1,button{
    
    background-color: skyblue;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 1rem;
    
   
}
.images
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width:100vw; */
    margin-bottom: 2vh;
   
    /*border: 2px solid black;*/
    
}
.image{
    width:20%;
    height:200px;
    border: 2px solid black;
    border-radius: 0.3em;
    margin-right: 20px;
    background-color: lightslategray;
    text-align: center;
    color: aliceblue;
    
}
output
{

width: 100vw;
/*background-color: rgba(92, 221, 204, 0.637);*/
}
button,.disp,hr,table
{
    margin: 2% 20%;
    
}
button
{
    cursor: pointer;
    font-size: 1.2rem;
}
img:hover
{
    /* display: none; */
    transform: scale(1.1);
     /* border-radius: 3px; */
    cursor: pointer;
}
a
{
    text-decoration: none;
    background-color: inherit;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .hlight
{
    color:blue ;
    font-size: larger;
}
@media screen and (max-width:425px) {
    span
    {
       display: block; 
       margin: 2% 20%;
    }
    .images
    {
        flex-direction: column;
        align-items: center;
       
    }
    .image
    {
        width: 40%;
        height: 100px;
        margin-bottom: 10px;
        
    }
    #fobj
    {
        display: none;
        /* border-left: none; */
    }
 

    
}
#fobj
{
    float: right;margin: 0;border-left: 2px solid black;border-radius: 0;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    border-radius: 5px;
  }
  p{
    background-color: DarkSalmon;
  }